{% extends 'myblog/base.html' %}
{% block title %}Send password reset{% endblock %}

      {% block contents %}
      <hr>
      <div class="container">
        <div class="row">
          <div class="col offset-2 py-4">
              <h5>Hệ thống đã gửi thủ tục đổi mật khẩu đến email mà bạn đăng ký <br>
                  Hãy kiểm tra hòm thư của bạn ngay</h5>
              <br>
              <h6>
                Trường hợp chưa nhận được mail bạn hãy kiểm tra hòm thư rác của bạn hoặc xác nhận lại địa chỉ email mà bạn đã đăng ký tài khoản này。</h6>
              <br>
              <a href="{% url 'myblog:index' %}">Quay lại home</a>
          </dv>
        </dv>
      </dv>
      {% endblock %}