<!doctype html>
<html>
  <head>
    <style>
      .pad{
        background-color: lavender;
        border: solid 2px;
        padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 100px;
        margin-top: 50px;
        margin-right: 70px;
        margin-left: 70px;
      }
    </style>
  </head>

  <body>
    <div class="pad">
      <h2>Đổi mật khẩu thành công</h2>
      <p>
        Mật khẩu của bạn đã được thay đổi thành công, hãy đi đến đăng nhập
      </p>
      <br>
      <a style="margin-right: 50px;" href="{% url 'accounts:login' %}">Đăng nhập ngay</a>

      <a href="{% url 'myblog:index' %}">Quay về home</a>
    </div>
  </body>
</html>
