

{% load static %}
<!doctype html>
<html>
  <head>
    <title>Reset password</title>
    <link href="{% static 'myblog/css/styles.css' %}" rel="stylesheet" />
    <style>
      .pad{
        background-color: lavender;
        border: solid 2px;
        padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 100px;
        margin-top: 50px;
        margin-right: 70px;
        margin-left: 70px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col py-4 pad">
          <hr>
          <h3>Bạn thực sự muốn thay đổi mật khẩu?</h3>
          <p>
            Hãy nhập địa chỉ email mà bạn đã đăng ký <br>
            Hệ thống sẽ gửi link thay đổi mật khẩu mới đến email của bạn.
          </p>
          <br>
          <form action="" method="POST" class="text-center">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Nhận link" /><br>
          </form>
          <br>
          <a href="{% url 'home:index' %}">Quay lại home</a>
          <hr>
        </div>
      </div>
    </div>
  </body>
</html>

