{% extends 'myblog/base.html' %}
{% load static %}
{% block title %}Post Delete{% endblock %}
{% block header %}
  <!-- Page Header-->
  <header class="masthead" style="background-image: url(); height:10px">
      <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                  <div class="page-heading">
                      <h3>Bạn có chắc muốn xóa bài viết này ???</h3>
                  </div>
              </div>
          </div>
      </div>
  </header>
{% endblock %}
{% block contents %}
  <br>
  <div class="container">
    <div class="row">
      <div class="col offset-3">
        <!--tự động gửi POST-->
        <form method="POST">
            {% csrf_token %}
          <button class="btn btn-danger offset-1" type="submit">Xóa ngay và luôn</button>
          <a href="{% url 'myblog:post-detail' object.pk %}"
              class="btn btn-secondary my-2">Thôi không xóa nữa</a>
        </form>
      </div>
    </div>
  </div>
  
{% endblock %}
