{% load static %}
<nav class="navbar navbar-expand-lg " class="bgcc" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'myblog:index' %}">AeLagi Blog </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item txfb"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'myblog:index' %}">Home</a></li>
                <li class="nav-item txfb"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'myblog:about' %}">About</a></li>
                <li class="nav-item txfb"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'myblog:create-post' %}">Post</a></li>
                <li class="nav-item txfb"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'myblog:contact' %}">Contact</a></li>
                <li class="nav-item txfb"><a class="nav-link px-lg-3 py-3 py-lg-4">|</a></li>
            
                {% if user.is_authenticated %}
                    <!--profile-->
                    <!-- Logged in-->
                    <li class="nav-item"> <a href="{% url 'myblog:mypage' %}" 
                        style="color:rgb(252, 226, 109)" class="nav-link px-lg-4 py-3 py-lg-4">hello {{current_user}}</a> </li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4">|</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'myblog:mypage' %}">My page</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'password_reset' %}">Password Reset</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="mailto:admin@example.com">My mail</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'accounts:logout' %}">Logout</a></li>

                {% else %}
                    <!-- Not logged in -->
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'accounts:login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'accounts:signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>